<div class="container">
  <div class="user-details">
    <h3> Who am I? </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Software Engineering</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Software Architecture, Automated testing, Test-driven development, Requirements Engineering, Formal Specification, Software Design, Reverse Engineering</p>
    </div>
    <div class="four columns">
      <h4> Teaching </h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Use Case Diagrams, Class Diagrams, State Transition Diagrams, Design patterns, Code Smells, Polymorphism, Cohesion and Coupling, Java Swing UI developments, Java applets, Java exceptions</p>
    </div>
    <div class="four columns">
      <h4>Artificial Intelligence</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Learning algorithms, Decision Theory, Searching Algorithms, Hill-climbing algorithms, Game Theory, Game abstractions, N-player games, Graphical Games </p>
    </div>
  </div>
</div>
