<div class="container">
  <div class="user-details">
    <h3> Who am I? </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>School </h4>
<!--
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
-->
            <p>University of Washingtons</p>
              <ul style="font-size:14px">
                <li>Master of Science in Information Systems (M.S.)</li>
                <li>Bachelor of Arts in Business Administration: Accounting; Information Systems (B.A.)</li>
                <li>Certification in Database Management (T-SQL)</li>
              </ul>
    </div>
    <div class="four columns">
      <h4> Work Experience </h4>
              <ul style="font-size:14px">
                <li>Software Development Engineer II at Microsoft</li>
                <li>Senior Business Analyst at Expedia</li>
                <li>Project Manager at Insight Global</li>
              </ul>
    </div>
    <div class="four columns">
      <h4>Interest and Hobby</h4>
              <ul style="font-size:14px">
                <li>Data Science</li>
                <li>Basketball</li>
                <li>Photography</li>
                <li>Hiking</li>
              </ul>
    </div>
  </div>
</div>
