<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" href = "https://linkedin.com/in/kennyk1m"><i class="icon fa fa-linkedin"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Blog" target="_blank" href="https://medium.com/@kennykim.90"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
        <a aria-label="My Resume" href="/assets/files/ResumeKennyKim2018.pdf"><i class="icon fa fa-file-text-o"></i></a>
      </div>
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
