<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="qar" src="{{ "/assets/img/qar.JPG" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Qar </h5>
        <ul>
            <li>Java </li>
            <li> Artificial Intelligence </li>
            <li> Q-Learning</li>
        </ul>
      <p>Qar is a small project AI-based system in which a car in a grid learns how to drive avoiding walls. It uses Q-Learning algorithm to obtain the optimal policy via trial and error. The car has the option to choose one action before every tick and the car will move one square into the facing direction after the tick.</p>
        <h3> Action Space </h3>
        <ul>
            <li> Turn Left</li>
            <li> Turn Right</li>
            <li> Do Nothing</li>
        </ul>
        
        <h3>State Space</h3>
        <ul>
            <li> Distance from wall in front </li>
            <li> Distance from wall to the left </li>
            <li> Distance from wall to the right </li>
        </ul>
        
        <h3> Rewards </h3>
        <ul>
            <li> -100 for crashing </li>
            <li> 0 for staying alive </li>
        </ul>
      <a class="project-link" href="github.com/jemonsivais/Qar">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/yelp.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Yelp review star predictor </h5>
      <ul>
        <li> Python </li>
          <li> Data Mining </li>
          <li> Document classification </li>
      </ul>
      <p>This project was developed for the Yelp dataset challenge, it is a star predictor that uses Naive Baye's classification algorithm to classify a review into how many stars it has. The data was taken from Yelp webpage and half is used to train the classificator and the other half is used to test the classificator. The results of the script are in number of correct and incorrect results and the error distance, which is a metric of how far the actual classification was from the predicted one. </p>
          <h3> Results </h3>
          <p> The classificator is able to predict correctly about 40% of the reviews, with an error distance of 2</p>
      <a class="project-link" href="github.com/jemonsivais/Yelp-Classification">Check it out</a>
    </div>
  </div>
</div>
